@mixin nav_img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    .nav-text {
      .brand {
        text-decoration: none;
        color: black;
        font-size: 35px;
      }
      p {
        font-size: 35px;
        margin: 0;
      }
    }
  
    .nav-sections {
      display: flex;
      .nav-items {
        margin: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          @include nav_img;
        }
        p {
          text-align: center;
          color: black;
          margin: 0;
        }
      }
    }
  
    .nav-icons {
      display: flex;
      div {
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cart-counter {
          background-color: rgb(179, 179, 245);
          width: 20px;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: -5px;
          top: 50px;
          p {
              font-size: 15px;
          }
      }
        .icon-login {
          width: 30px;
        }
        .login {
          text-decoration: none;
          color: black;
        }
        .icon-cart {
            width: 28px;
        }
        p {
          margin: 0;
        }
      }
    }
  }
  
  @media all and (max-width: 700px) {
   nav {
    flex-direction: column;
    .nav-text {
      text-align: center;
      p {
        font-size: 25px;
      }
    }
    .nav-sections {
      margin-block: 15px;
      .nav-items {
        img {
          width: 65px;
          height: 65px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .nav-icons {
      display: none;
    }
   } 
  }
  